In [1]:
import pandas as pd
import scipy 
import numpy as np
from scipy import stats

# Question 1 Cutlets dataset

In [17]:
cutlets = pd.read_csv("C:/Users/HP/Downloads/Cutlets.csv")

In [18]:
cutlets.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [19]:
unit_a = pd.Series(cutlets.iloc[:,0])

In [20]:
unit_a

0     6.8090
1     6.4376
2     6.9157
3     7.3012
4     7.4488
5     7.3871
6     6.8755
7     7.0621
8     6.6840
9     6.8236
10    7.3930
11    7.5169
12    6.9246
13    6.9256
14    6.5797
15    6.8394
16    6.5970
17    7.2705
18    7.2828
19    7.3495
20    6.9438
21    7.1560
22    6.5341
23    7.2854
24    6.9952
25    6.8568
26    7.2163
27    6.6801
28    6.9431
29    7.0852
30    6.7794
31    7.2783
32    7.1561
33    7.3943
34    6.9405
Name: Unit A, dtype: float64

In [21]:
unit_b = pd.Series(cutlets.iloc[:,1])

In [22]:
unit_b

0     6.7703
1     7.5093
2     6.7300
3     6.7878
4     7.1522
5     6.8110
6     7.2212
7     6.6606
8     7.2402
9     7.0503
10    6.8810
11    7.4059
12    6.7652
13    6.0380
14    7.1581
15    7.0240
16    6.6672
17    7.4314
18    7.3070
19    6.7478
20    6.8889
21    7.4220
22    6.5217
23    7.1688
24    6.7594
25    6.9399
26    7.0133
27    6.9182
28    6.3346
29    7.5459
30    7.0992
31    7.1180
32    6.6965
33    6.5780
34    7.3875
Name: Unit B, dtype: float64

In [23]:
#It is 2 sample 2t test...
stats.ttest_ind(unit_a,unit_b)

Ttest_indResult(statistic=0.7228688704678061, pvalue=0.4722394724599501)

Compare alpha value withe p value
0.48>0.05

# Question 2 LabTat

In [24]:
labtat = pd.read_csv("C:/Users/HP/Downloads/LabTAT.csv")

In [25]:
labtat

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [26]:
# Anova f_oneway test stats.f_woneway(column1,coulmn2,coumn3...)
stats.f_oneway(labtat.iloc[:,0],labtat.iloc[:,1],labtat.iloc[:,2],labtat.iloc[:,3])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

### pvalue = 2.1156
### compare alpha with pvalue. alpha = 0.05
### 2.11>0.05

# Question 3 Buyer Ratio.

In [33]:
BuyerRatio = pd.read_csv("C:/Users/HP/Downloads/BuyerRatio.csv",index_col=0)

In [34]:
BuyerRatio

                 East  West  North  South
Observed Values
Males              50   142    131     70
Females           435  1523   1356    750

In [35]:
from scipy.stats import chi2_contingency
import pandas as pd

In [36]:
BuyerRatio.values

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]], dtype=int64)

In [37]:
chi_values = chi2_contingency(BuyerRatio.values)

In [41]:
chi_values  # o/p is (Chi2 stats value, p_value, df, expected obsvations)

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

### pvalue = 0.66 & alpha = 0.05
### 0.66 > 0.05
### Accept Null Hyphothesis  : All preportions are equal

# Queastion 4 CustomerOrderForm!

In [46]:
cust_form = pd.read_csv("C:/Users/HP/Downloads/Costomer+OrderForm.csv")

In [47]:
cust_form

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [54]:
cust_form.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [55]:
cust_form.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [57]:
cust_form.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [58]:
cust_form.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [59]:
cust_value = np.array([[271,267,269,280],[29,33,31,20]])

In [60]:
cust_value

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [61]:
chi_values = chi2_contingency(cust_value)

In [63]:
chi_values   # o/p is (Chi2 stats value, p_value, df, expected obsvations)

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

In [64]:
# here Pvalue = 0.278  and alpha = 0.05
# 0.278 > 0.05